<!-- {{contact | json}} -->

<div class="container">
    <div class="row">
        <h1 class="text-center  my-3">Add Contact Details</h1>
        <div class="col-6">
            <!-- form -->
            <form>

                <!-- id -->
                <div class="form-floating my-3">
                    <input [(ngModel)]="contact.id" name="id" type="text" class="form-control" id="floatingInput12" placeholder="Id">
                    <label for="floatingInput12">Id</label>
                </div>
                
                <!-- Full Name -->
                <div class="form-floating my-3">
                    <input [(ngModel)]="contact.name" name="name" type="text" class="form-control" id="floatingInput1" placeholder="Full Name">
                    <label for="floatingInput1">Full Name</label>
                </div>
                <!-- Photo Url -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.photourl" name="photourl" type="text" class="form-control" id="floatingPhoto" placeholder="Photo Url">
                    <label for="floatingPhoto">Photo Url</label>
                </div>
                <!-- E-mail -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.email" name="email" type="email" class="form-control" id="floatingemail" placeholder="name@example.com">
                    <label for="floatingemail">Email Address</label>
                </div>
                <!-- Mobile -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.contact" name="contact" type="text" class="form-control" id="floatingContactNumber" placeholder="Contact Number">
                    <label for="floatingContactNumber">Contact Number</label>
                </div>

                <!-- Company Name -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.company" name="company"  type="text" class="form-control" id="floatingCompanyName" placeholder="Company Name">
                    <label for="floatingCompany Name">Company Name</label>
                </div>
                <!-- Title -->
                <div class="form-floating mb-3">
                    <input [(ngModel)]="contact.title" name="title" type="text" class="form-control" id="floatingTitle" placeholder="Title">
                    <label for="floatingTitle">Title</label>
                </div>

                <!-- Group -->
                <div class="mb-3 form-floating">
                    <select [(ngModel)]="contact.GroupId" name="GroupId" class="form-control">
                        <option selected hidden disabled>{{contact.GroupId}}</option>
                        <option [value]="group.id"*ngFor="let group of allGroups">{{group.name}}</option>
                       
                    </select>
                </div>
            <!-- Button -->

            <div class="text-center">
                <input type="button" (click)="addContact()" routerLink="/" value="Submit" class="btn btn-outline-dark my-3">
            </div>
            </form>
        </div>
        <div class="col-6">
            <!-- image -->
            <img width="100%" height="500px" src="https://i.pinimg.com/736x/87/ff/14/87ff14780b70043d7a2e2d21fcdb26c1.jpg" alt="">
        </div>
    </div>
</div>